name: Kotlin Artifacts Build

on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Message for manually triggering'
        required: false
        default: 'Triggered for Updates'
        type: string

jobs:
  maven-publish:
    if: "${{ !contains(github.ref, 'master') }}"
    uses: Prafulrakhade/kattu/.github/workflows/maven-publish-android-download.yaml@master-test
    with:
      SERVICE_LOCATION: 'vc-verifier/kotlin'
      ANDROID_SERVICE_LOCATION: 'vcverifier'
      JAVA_VERSION: 21
      LICENSE_NAME: 'MPL-2.0'
    secrets:
      OSSRH_USER: ${{ secrets.OSSRH_USER }}
      OSSRH_URL: ${{secrets.OSSRH_GRADLE_URL }}
      OSSRH_SECRET: ${{ secrets.OSSRH_SECRET }}
      OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
      GPG_SECRET: ${{ secrets.GPG_SECRET }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_INJI_TEAM }}
